h1 Add a new book

a(href="/book/list") Go back the the book list

form(name="addBook",method="post",action="/book/add")
	if locals.err
		ul
			each error in err
				li #{error}

	input(type="text", placeholder="isbn", name="isbn")
	br
	input(type="text", placeholder="title", name="title")
	br
	input(type="text", placeholder="author", name="author")
	br
	input(type="date", placeholder="Buying Date", name="buyingDate")
	br
	select(name="state")
		option(value="0") unused
		option(value="1") fine
		option(value="2") damaged
	br
	input(type="text", placeholder="thematics", name="thematics")
	br
	button(type="submit") submit